<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <revertContent>
        <processor type="Sitecore.Support.SetWorkflowToFinalStateAndPublish, Sitecore.Support.307746" />
      </revertContent>
    </pipelines>
  </sitecore>
</configuration>